<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django / Python</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'website/css/base.css' %}">
</head>

<body>
    <header class="jumbotron text-center">
        <h1>Titulo do Website</h1>
        <p>Isto é uma breve introdução, c/ a mesma largura do titulo</p>
        <nav>
            <a href="{% url 'website:home' %}" class="btn btn-info">Home</a>
            <a href="{% url 'website:segundo' %}" class="btn btn-info">Segundo</a>
            <a href="{% url 'website:terceiro' %}" class="btn btn-info">Terceiro</a>
        </nav>
    </header>
    <article class="container">
        <main class="col-sm-6">
            {% block main %}
            {% endblock main %}
        </main>
        <aside class="col-sm-6">
            {% load static %}
            <img src="{% static 'website/images/image.png' %}">
        </aside>
    </article>
    <footer><p>Trabalho realizado para Programação Web</p></footer>
</body>
</html>