<!DOCTYPE html>
{% load static %}
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width,
    initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="author" content="Duarte Cambra">
    <meta name="keywords" content="php">
    <meta name="description" content="Projeto Parte 2">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'website/css/base2.css' %}">
    <title>Projeto PW</title>
</head>
<body>
    <header class="jumbotron text-center">
        <nav>
          <a href="{% url 'website:home' %}" class="btn btn-info">Home</a>
          <a href="{% url 'website:layouts' %}" class="btn btn-info">Layouts</a>
          <a href="{% url 'website:multimedia' %}" class="btn btn-info">Multimedia</a>
          <a href="{% url 'website:inventario' %}" class="btn btn-info">Inventário</a>
          <a href="{% url 'website:tecnicas' %}" class="btn btn-info">Técnicas usadas</a>
        </nav>
    </header>

    <article class="container">
        <main class="col-sm-6">
            {% block main %}
            {% endblock main %}
        </main>
        <aside class="col-sm-6">
            {% load static %}
            <img src="{% static 'website/images/image.png' %}">
            <a href="https://www.topgadget.com.br/howto/sites-e-web/como-adicionar-um-atributo-a-uma-tag-html.htm"><figure class="figure"><img src="{% static 'website/images/html-css-js-1.jpg' %}"<></figure></a>
            <a href="https://brytdesigns.com/html-css-javascript-whats-the-difference/"><figure class="figure"><img src="{% static 'website/images/html_css_javascript_infographic.png' %}""images/html_css_javascript_infographic.png"<></figure></a>
            <a href="https://pplware.sapo.pt/tutoriais/programacao-web-1-introducao/"><figure class="figure"><img src="{% static 'website/images/wordcloud.png' %}"<></figure></a>
        </aside>
    </article>
    <footer>Programação Web, Universidade Lusófona de Humanidades e Tecnologias, 2020/2021</footer>

    
</body>
</html>