{% extends 'website/base.html' %}

{% block main %}
    <h3>Home</h3>

    <p>Esta é a home page do website realizado em Django. O layout do website não muda quando acede às diferentes páginas, a única coisa que altera é o conteúdo do main.</p>

    <article>
        <p>Na Unidade Curricular de <a href="https://secure.grupolusofona.pt/ulht/moodle/course/view.php?id=38119"><i>Programação Web</i></a>, dada na <a href="https://www.ulusofona.pt/">Universidade Lusófona</a> fomos desafiados a elaborar um website para a parte 1 do <i>Projeto</i> seguindo uma <a href="https://github.com/ULHT-PW-2020-21/pw-projeto-fase1">lista de requisitos</a>.</p>
        <p>O conteúdo aprendido nesta UC até à data foi:</p>
        <ul>
            <li>Funcionamento da Web</li>
            <li>Tecnologias, paradigmas e padrões de desenho da Web</li>
            <li>HTML e seus elementos para estruturação de conteúdos multimédia</li>
            <li>Formulários para envio de dados</li>
            <li>Formulários para envio de dados</li>
            <li>SVG para gráficos vetoriais escaláveis</li>
            <li>HTML5 e elementos semânticos</li>
            <li>CSS e seus seletores, para estilização de conteúdos</li>
            <li>Propriedades CSS</li>
            <li>Design responsivo layouts dinâmicos</li>
            <li>Layouts CSS flex e CSS grid</li>
            <li>Efeitos e animações CSS</li>
            <li>Menus dropdown</li>
            <li>Cor</li>
        </ul>

        <p>Ao explorar o website vai poder observar o que foi aprendido nesta cadeira, aplicado na prática.</p>
    </article>  

{% endblock %}