{% extends 'website/base.html' %}

{% block main %}
<article>
    <h1>Técnicas usadas</h1>

    <p> As etiquetas HTML5 semânticas usadas, seletores e propriedades CSS, media queries, tipos de display usados, animações e efeitos usados neste projeto serão descritos na tabela abaixo.</p>

    <table cellspacing="1" cellpadding="1" border="2" bgcolor="gray" align="center">

        <caption>
            Tabela de Inventário
        </caption>
        <colgroup>
            <col align="left" span="1">
            <col align="left" span="1">
            <col align="left" span="1">
        </colgroup>
        
        <tr>
            <th>Páginas</th>
            <td>5</td>
        </tr>
        <tr>
            <th>Imagens</th>
            <td>17</td>
        </tr>
        <tr>
            <th>Links Externos</th>
            <td>12</td>
        </tr>
        <tr>
            <th>Vídeos</th>
            <td>1</td>
        </tr>
        <tr>
            <th>Animações</th>
            <td>1</td>
        </tr>

    </table>

</article> 
{% endblock %}