{% extends 'website/base.html' %}

{% block main %}
<article >
    <div class="flex-container">
        <figure>
            {% load static %}
            <img src="{% static 'website/images/website1.jpg' %}"<>
            <figcaption>Fotografia retirada <a href="https://www.awwwards.com/95-inspiring-websites-of-web-design-agencies.html">daqui</a>.</figcaption>
        </figure>

        <figure>
            {% load static %}
            <img src="{% static 'website/images/website2.jpg' %}" >
            <figcaption>Fotografia retirada <a href="https://www.brightdesign.co.uk/5-of-the-best-website-designs-according-to-the-internet">daqui</a>.</figcaption>
        </figure>

        <figure>
            {% load static %}
            <img src="{% static 'website/images/website5.jpg' %}" >
            <figcaption>Fotografia retirada <a href="https://xd.adobe.com/ideas/principles/web-design/11-website-layouts-that-made-content-shine-in-2019/">daqui</a>.</figcaption>
        </figure>

        <figure>
            {% load static %}
            <img src="{% static 'website/images/website3.jpg' %}" >
            <figcaption>Fotografia retirada <a href="https://www.brightdesign.co.uk/5-of-the-best-website-designs-according-to-the-internet">daqui</a>.</figcaption>
        </figure>

        <figure>
            {% load static %}
            <img src="{% static 'website/images/website4.jpg' %}" >
            <figcaption>Fotografia retirada <a href="https://www.brightdesign.co.uk/5-of-the-best-website-designs-according-to-the-internet">daqui</a>.</figcaption>
        </figure>

        
    </div>

</article>
{% endblock %}